header {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
/* font-family: 'Alegreya Sans SC', sans-serif; */
font-family: 'Henny Penny', cursive;
text-align: center;
font-size: 50px;
color: #8F2B14;
}
/*nav for horizontal */
/* nav {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.nav_links {
    display: flex;
    flex-direction: row;
    font-family: serif;
    justify-content: space-around;
    width: 100%;
    font-size: .5em; 
} */
/*nav for vertical copied from HW6 */
.nav_links{
    display:flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
}
.nav_links a{
    text-decoration: underline dotted;
    color: #8F2B14;
    font-size: .5em;

}

#current { 
   color: #df23d6; 
   font-size: 1.5em;

}
/* .nav_links a.current{
    display: flex;
    flex-direction: row;
    font-family: serif;
    justify-content: space-around;
    width: 100%;
} */
a.jump{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;

}
a.jump:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;

}
h1{
    font-family: 'Henny Penny', cursive;
    font-size: 2em;
    margin-left: .5em;
    margin-right: .5em;
    color: #8F2B14;
    text-align: center;
    
}

body {
    background-color: #F7F7B0;
    

}
p {
   text-align: center;
   margin-left: 1em;
   margin-right: 1em;
   font-size: 20px;
}
.food_list > li{
    text-align: center;
    font-size: 25px;
    /* display: table;
    margin: 0 auto; */
}
.recipes {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
}
/* .recipes >img {
    width: 80%;
    justify-self: center;

} */
.penne-vodka_img{
    width: 80%;
}
h2{
    text-align: center;
    font-size: 20px;
    color:#8F2B14;
}
h3{
    text-align: center;
    font-size: 15px;
}
.bow-tie_text > ul{
    text-align: center;
    list-style-type: none;
}
.penne-vodka_text >ul{
    text-align: center;
    list-style-type: none;
}
.b_text >ul{
    text-align: center;
    list-style-type: none;
}
.bow-tie_text{
    grid-column: 1/2;
}
.bow-tie_img {
    grid-column: 1/2;

}
.bow-tie_img > img {
    width: 100%;
}
.b_img{
    grid-column: 1/2;
}
.b_img > img{
    width: 100%;
}
.penne-vodka_img{
    grid-column: 1/2;
}
.penne-vodka_img > img{
    width: 100%;
}

.collage {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 5px;
}
.collage img {
    border: chocolate solid 10px;
    width: 100%;

}

footer {
    position: relative;
    bottom: 0;
    width:100%;
    background:#8F2B14;
    text-align:center;
    justify-content: center;
    color: #F7F7B0;
    min-height: 75px;
    width: 100%;
    margin: auto;
}

/* @media screen and (min-width: 778px){
    .recipes{
        grid-template-columns: 1fr 1fr;
    }
} */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  